[Desktop Entry]
Name=IdleScreen
Comment=IdleScreen screensaver & ambient control panel applet
Type=Application
Exec=/usr/bin/cosmic-idle
Terminal=true
Categories=COSMIC;
Keywords=COSMIC;Applet;Idle;Screensaver;
Icon=com.system76.CosmicAppletIdle-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
